.style1 {
    height: 330px;
    width: 250px;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
    float: left;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px lightgray;
}

.style2 {
    height: 330px;
    width: 250px;
    color: white;
    background-color: brown;
    padding: 10px;
    margin: 10px;
    float: left;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px lightgray;
}